<?xml version="1.0" encoding="utf-8"?><!--
   Copyright (c) Microsoft Corporation. All rights reserved.
   Licensed under the MIT License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azure.android.communication.ui"
    >
    <uses-permission android:name="android.permission.CAMERA" />

    <application android:hardwareAccelerated="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"
            />
        <activity
            android:name="com.azure.android.communication.ui.calling.presentation.CallCompositeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AzureCommunicationUI.Theme.Calling"
            android:exported="false"
            />
        <service
            android:name="com.azure.android.communication.ui.calling.service.calling.InCallService"
            android:foregroundServiceType="microphone"
            android:stopWithTask="true"
            android:exported="false"
            />
    </application>

</manifest>